Repository agateau/pixelwheels: changes, and which pre-commit hooks are due for each by the changed paths.
All: codingstyle, po-update, font-update

codingstyle:
  name: codingstyle
  entry: tools/apply-codingstyle
  language: script

po-update:
  name: po-update
  language: system
  entry: make po-update
  pass_filenames: false

font-update:
  name: font-update
  language: system
  entry: make font-update
  pass_filenames: false

Rework TrackSelector so that it can show more than 8 tracks
  core/src/com/agateau/pixelwheels/screens/SelectTrackScreen.java
  core/src/com/agateau/pixelwheels/screens/TrackSelector.java
Due: codingstyle, po-update

MenuItems: always draw focus indicator *behind* the item
  android/assets/ui/uiskin.gdxjson
  core/src/com/agateau/pixelwheels/screens/SelectTrackScreen.java
  core/src/com/agateau/ui/menu/ButtonMenuItem.java
  core/src/com/agateau/ui/menu/CornerMenuButton.java
  core/src/com/agateau/ui/menu/GridMenuItem.java
  core/src/com/agateau/ui/menu/RangeMenuItem.java
Due: codingstyle, po-update

AIPilot: factorize body detection code
  core/src/com/agateau/pixelwheels/racer/AIPilot.java
Due: codingstyle, po-update

Make AIPilot avoid sand and water
  core-tests/src/com/agateau/pixelwheels/map/MaterialCheckerTest.java
  core/src/com/agateau/pixelwheels/map/MaterialChecker.java
  core/src/com/agateau/pixelwheels/racer/AIPilot.java
Due: codingstyle, po-update

Add a debug option to tweak the AI speed limiter
  core/src/com/agateau/pixelwheels/screens/DebugScreen.java
Due: codingstyle, po-update

Make AIPilot try to avoid other vehicles
  core/src/com/agateau/pixelwheels/BodyIdentifier.java
  core/src/com/agateau/pixelwheels/racer/AIPilot.java
Due: codingstyle, po-update

Add changelog entry
  .changes/unreleased/Changed-20231003-163854.yaml
Due: none

Fix focus indicator appearing dark sometimes
  core/src/com/agateau/ui/menu/FocusIndicator.java
  core/src/com/agateau/ui/menu/SwitchMenuItem.java
Due: codingstyle, po-update

refactor: add Menu.getMenuStyleByName() and use it
  core/src/com/agateau/pixelwheels/screens/SelectChampionshipScreen.java
  core/src/com/agateau/pixelwheels/screens/SelectTrackScreen.java
  core/src/com/agateau/pixelwheels/screens/SelectVehicleScreen.java
  core/src/com/agateau/ui/menu/Menu.java
Due: codingstyle, po-update

MultiPlayerScreen: fix crash
  android/assets/screens/multiplayer.gdxui
  core/src/com/agateau/pixelwheels/screens/MultiPlayerScreen.java
Due: codingstyle, po-update

AIPilot: do not handle mines the same way we handle walls
  core/src/com/agateau/pixelwheels/racer/AIPilot.java
Due: codingstyle, po-update

AIPilot: consider the way clear if there is a mine or vehicle
  core/src/com/agateau/pixelwheels/racer/AIPilot.java
Due: codingstyle, po-update

AIPilot: treat "hole" material like walls
  core/src/com/agateau/pixelwheels/racer/AIPilot.java
Due: codingstyle, po-update

AIPilot: do not give too much score to previous waypoint
  core/src/com/agateau/pixelwheels/racer/AIPilot.java
Due: codingstyle, po-update

Make focus indicator glow, set default padding back to 2
  android/assets/ui/uiskin.gdxjson
  core/src/com/agateau/ui/menu/FocusIndicator.java
Due: codingstyle, po-update

Make selected item half-transparent
  core/src/com/agateau/ui/menu/GridMenuItem.java
Due: codingstyle, po-update

Tiny-sur-Mer: improve lighthouse
  android/assets/maps/city.tsx
  android/assets/maps/tiny-sur-mer.tmx
  core/assets-src/maps/city.ase
Due: none

pre-commit: add XML check
  .pre-commit-config.yaml
  Dockerfile
Due: none

Add support for numpad + / - to zoom
  tools/src/com/agateau/pixelwheels/tools/trackeditor/TrackEditorScreen.java
Due: codingstyle, po-update

TrackEditor: Start centered, and zoomed out
  tools/src/com/agateau/pixelwheels/tools/trackeditor/TrackEditorScreen.java
Due: codingstyle, po-update

TrackEditor: make sure there is at least one line
  tools/src/com/agateau/pixelwheels/tools/trackeditor/TrackEditorScreen.java
Due: codingstyle, po-update

Add a new obstacle definition type: full
  android/assets/maps/be.tmx
  android/assets/maps/city.tsx
  android/assets/maps/tiny-sur-mer.tmx
  core/src/com/agateau/pixelwheels/obstacles/TiledObstacleCreator.java
  core/src/com/agateau/pixelwheels/obstacles/tiled/CircleDef.java
  core/src/com/agateau/pixelwheels/obstacles/tiled/FullObstacleCreator.java
  core/src/com/agateau/pixelwheels/obstacles/tiled/MultiDef.java
  core/src/com/agateau/pixelwheels/obstacles/tiled/RectangleDef.java
  core/src/com/agateau/pixelwheels/obstacles/tiled/TiledObstacleCreator.java
  core/src/com/agateau/pixelwheels/obstacles/tiled/TiledObstacleDef.java
  core/src/com/agateau/pixelwheels/racescreen/GameWorldImpl.java
  docs/map-format.md
Due: codingstyle, po-update

Fix lint step: install libxml2-utils
  .github/workflows/main.yml
  Dockerfile
Due: none

Start adding a new track to "Pixel City" championship
  android/assets/championships/2.xml
  android/assets/maps/city-templates.tmx
  android/assets/maps/city.tsx
  android/assets/maps/city3.tmx
  android/assets/maps/tiny-sur-mer.tmx
  android/assets/po/bn.po
  android/assets/po/de.po
  android/assets/po/eo.po
  android/assets/po/es.po
  android/assets/po/eu.po
  android/assets/po/fr.po
  android/assets/po/hu.po
  android/assets/po/it_IT.po
  android/assets/po/messages.pot
  android/assets/po/nl.po
  android/assets/po/pl.po
  android/assets/po/ru.po
  android/assets/po/sv.po
  android/assets/po/tr.po
  android/assets/po/zh_CN.po
  core/assets-src/maps/city.ase
  core/assets-src/ui/map-icons/city3.ase
Due: font-update

Resize city tileset to 1024px wide
  android/assets/maps/be.tmx
  android/assets/maps/city-templates.tmx
  android/assets/maps/city.tsx
  android/assets/maps/city3.tmx
  android/assets/maps/tiny-sur-mer.tmx
  core/assets-src/maps/city.ase
Due: none

Make be.tmx use csv encoding
  android/assets/maps/be.tmx
Due: none

Move lighthouse shadow in city tileset
  android/assets/maps/city3.tmx
  android/assets/maps/tiny-sur-mer.tmx
  core/assets-src/maps/city.ase
Due: none

More sand work
  android/assets/maps/city-templates.tmx
  android/assets/maps/city3.tmx
  core/assets-src/maps/city.ase
Due: none

city3: Use trees
  android/assets/maps/city.tsx
  android/assets/maps/city3.tmx
  core/assets-src/maps/city.ase
Due: none

city3: more building detailing
  android/assets/maps/city3.tmx
  core/assets-src/maps/city.ase
Due: none

city: add castle tiles
  android/assets/maps/city.tsx
  android/assets/maps/city3.tmx
  core/assets-src/maps/city.ase
Due: none

Update spanish translator
  .changes/unreleased/Changed-20231027-190311.yaml
  android/assets/po/bn.po
  android/assets/po/de.po
  android/assets/po/eo.po
  android/assets/po/es.po
  android/assets/po/eu.po
  android/assets/po/fr.po
  android/assets/po/hu.po
  android/assets/po/it_IT.po
  android/assets/po/messages.pot
  android/assets/po/nl.po
  android/assets/po/pl.po
  android/assets/po/ru.po
  android/assets/po/sv.po
  android/assets/po/tr.po
  android/assets/po/zh_CN.po
  android/assets/screens/credits.gdxui
Due: po-update, font-update

More castles
  android/assets/maps/city.tsx
  android/assets/maps/city3.tmx
  core/assets-src/maps/city.ase
Due: none

Fix hole in center turn
  android/assets/maps/city.tsx
  android/assets/maps/city3.tmx
  android/assets/maps/tiny-sur-mer.tmx
  core/assets-src/maps/city.ase
Due: none

Finish castle, start adding turbo and bonus
  android/assets/maps/city3.tmx
  core/assets-src/maps/city.ase
Due: none

city3: make over-the-sea section thinner but with shallow water around it
  android/assets/maps/city3.tmx
Due: none

Move lighthouse on top of a tower, shorten other towers a bit
  android/assets/maps/city3.tmx
Due: none

snow3: Adjust sections to match track changes
  android/assets/maps/city3.tmx
Due: none

Rework mapscreenshotgenerator, add a tools/ script for it
  tools/mapscreenshotgenerator
  tools/src/com/agateau/pixelwheels/tools/MapScreenshotGenerator.java
Due: codingstyle, po-update

Update city3 icon
  core/assets-src/ui/map-icons/city3.ase
Due: none

Path conditions:
  codingstyle: any of: \.java$
  po-update: any of: \.(java|gdxui)$
  font-update: any of: \.(po|ttc)$
