Repository agateau/pixelwheels: changes, and which pre-commit hooks are due for each by the changed paths.
All: codingstyle, po-update, font-update

codingstyle:
  name: codingstyle
  entry: tools/apply-codingstyle
  language: script

po-update:
  name: po-update
  language: system
  entry: make po-update
  pass_filenames: false

font-update:
  name: font-update
  language: system
  entry: make font-update
  pass_filenames: false

Add changelog entry
  .changes/unreleased/Changed-20230730-122119.yaml
Due: none

Make screenshot key configurable, and set it to F9 by default
  .changes/unreleased/Changed-20230807-085505.yaml
  android/assets/po/bn.po
  android/assets/po/de.po
  android/assets/po/eo.po
  android/assets/po/es.po
  android/assets/po/eu.po
  android/assets/po/fr.po
  android/assets/po/hu.po
  android/assets/po/it_IT.po
  android/assets/po/messages.pot
  android/assets/po/nl.po
  android/assets/po/pl.po
  android/assets/po/ru.po
  android/assets/po/sv.po
  android/assets/po/tr.po
  android/assets/po/zh_CN.po
  core/src/com/agateau/pixelwheels/PwGame.java
  core/src/com/agateau/pixelwheels/screens/config/KeyboardConfigScreen.java
  core/src/com/agateau/ui/KeyMapper.java
  core/src/com/agateau/ui/UiInputMapper.java
  core/src/com/agateau/ui/VirtualKey.java
Due: codingstyle, po-update, font-update

Start reworking FinishOverlay in championship mode
  core/src/com/agateau/pixelwheels/racescreen/FinishedOverlay.java
Due: codingstyle, po-update

FinishedOverlay: Tweak the congrats car
  core/assets-src/ui/finished-overlay-ui.slices.ase
Due: none

Do not draw slightly rotated vehicles on the start line
  .changes/unreleased/Changed-20230811-081227.yaml
  core-tests/src/com/agateau/utils/tests/AgcMathUtilsTests.java
  core/src/com/agateau/pixelwheels/racer/VehicleRenderer.java
  core/src/com/agateau/utils/AgcMathUtils.java
Due: codingstyle, po-update

Bump versions and update changelogs
  .changes/0.25.0.md
  .changes/unreleased/Added-20230215-090241.yaml
  .changes/unreleased/Added-20230509-084407.yaml
  .changes/unreleased/Added-20230601-093308.yaml
  .changes/unreleased/Added-20230723-223347.yaml
  .changes/unreleased/Changed-20230415-203039.yaml
  .changes/unreleased/Changed-20230426-203023.yaml
  .changes/unreleased/Changed-20230730-122119.yaml
  .changes/unreleased/Changed-20230807-085505.yaml
  .changes/unreleased/Changed-20230811-081227.yaml
  .changes/unreleased/Fixed-20230217-082645.yaml
  .changes/unreleased/Fixed-20230522-183938.yaml
  .changes/unreleased/Fixed-20230522-191115.yaml
  .changes/unreleased/Fixed-20230529-090945.yaml
  .changes/unreleased/Fixed-20230529-191931.yaml
  .changes/unreleased/Fixed-20230616-184222.yaml
  .changes/unreleased/Fixed-20230722-201350.yaml
  .changes/unreleased/Fixed-20230724-223013.yaml
  .changes/unreleased/Fixed-20230726-110733.yaml
  .changes/unreleased/Fixed-20230726-231254.yaml
  CHANGELOG.md
  fastlane/metadata/android/en-US/changelogs/28.txt
  tools/packaging/linux/share/metainfo/com.agateau.PixelWheels.metainfo.xml
  version.properties
Due: none

Update Hungarian translation
  android/assets/po/hu.po
  fastlane/metadata/android/hu/changelogs/27.txt
  fastlane/metadata/android/hu/changelogs/28.txt
Due: font-update

Fix word wrapping
  android/assets/po/hu.po
Due: font-update

Fix end of file
  android/assets/po/hu.po
Due: font-update

PL translation update
  android/assets/po/bn.po
  android/assets/po/de.po
  android/assets/po/eo.po
  android/assets/po/es.po
  android/assets/po/eu.po
  android/assets/po/fr.po
  android/assets/po/hu.po
  android/assets/po/it_IT.po
  android/assets/po/nl.po
  android/assets/po/pl.po
  android/assets/po/ru.po
  android/assets/po/sv.po
  android/assets/po/tr.po
  android/assets/po/zh_CN.po
Due: font-update

Updated Dutch translation
  android/assets/po/nl.po
Due: font-update

update translation
  android/assets/po/tr.po
Due: font-update

Prepare for 0.25.0
  android/assets/po/ru.po
Due: font-update

Added PL translation update dates
  .changes/unreleased/Updated-20230217-082645.yaml
  android/assets/po/pl.po
Due: font-update

End of file fixed
  .changes/unreleased/Updated-20230217-082645.yaml
Due: none

yaml file name fixed
  .changes/unreleased/Updated-20230913-211317.yaml
Due: none

Update French translation
  android/assets/po/fr.po
Due: font-update

KeyboardConfig: use a more self-explanatory var name for player1 variant
  android/assets/screens/keyboardconfig.gdxui
  core/src/com/agateau/pixelwheels/screens/config/KeyboardConfigScreen.java
Due: codingstyle, po-update

KeyboardConfig: fix cropped action texts
  android/assets/screens/keyboardconfig.gdxui
Due: po-update

Fix translations after testing
  android/assets/po/tr.po
Due: font-update

Update de.po
  android/assets/po/de.po
Due: font-update

Remove fuzzy marker for updated strings, remove two trailing ':'
  android/assets/po/pl.po
Due: font-update

update Basque translation
  android/assets/po/eu.po
Due: font-update

Translation fixes
  .changes/unreleased/Updated-20230816-211317.yaml
  android/assets/po/pl.po
Due: font-update

Touch up changelog
  CHANGELOG.md
Due: none

Bump to target SDK 33 to please Google Play
  android/build.gradle
Due: none

update spanish translation
  android/assets/po/es.po
Due: font-update

review and fix spanish translation
  android/assets/po/es.po
Due: font-update

Update Esperanto translation
  android/assets/po/eo.po
Due: font-update

Add build target to produce aab files
  Makefile
Due: none

fix basque translation
  android/assets/po/eu.po
Due: font-update

Use a predefined order to decide fall back input handlers
  .changes/unreleased/Fixed-20230911-183603.yaml
  core-tests/src/com/agateau/pixelwheels/GameConfigTest.java
  core-tests/src/com/agateau/utils/TestGdxPreferences.java
  core/src/com/agateau/pixelwheels/GameConfig.java
  core/src/com/agateau/pixelwheels/gameinput/GameInputHandlerFactories.java
Due: codingstyle, po-update

Log preferences before exporting logs
  core-tests/src/com/agateau/pixelwheels/LogExporterUtilsTest.java
  core/src/com/agateau/pixelwheels/LogExporterUtils.java
  core/src/com/agateau/pixelwheels/screens/ConfigScreen.java
Due: codingstyle, po-update

Finished overlay: fix column not fitting the screen in Esperanto
  .changes/unreleased/Fixed-20230915-075956.yaml
  android/assets/screens/finishedoverlay.gdxui
  core/src/com/agateau/pixelwheels/racescreen/FinishedOverlay.java
  core/src/com/agateau/ui/TableRowCreator.java
Due: codingstyle, po-update

AndroidLogExporter: fix odd warnings in logcat
  android/src/main/com/agateau/pixelwheels/android/AndroidLogExporter.java
Due: codingstyle, po-update

Bump version
  tools/packaging/linux/share/metainfo/com.agateau.PixelWheels.metainfo.xml
  version.properties
Due: none

Update changelog
  .changes/0.25.1.md
  .changes/unreleased/Fixed-20230911-183603.yaml
  .changes/unreleased/Fixed-20230915-075956.yaml
  CHANGELOG.md
  fastlane/metadata/android/en-US/changelogs/0.25.1.txt
Due: none

Make it possible to navigate to the Back button using the keyboard
  .changes/unreleased/Changed-20230927-085709.yaml
  android/assets/screens/config.gdxui
  android/assets/screens/credits.gdxui
  android/assets/screens/debug.gdxui
  android/assets/screens/gamepadconfig.gdxui
  android/assets/screens/keyboardconfig.gdxui
  android/assets/screens/multiplayer.gdxui
  android/assets/screens/selectchampionship.gdxui
  android/assets/screens/selectgamemode.gdxui
  android/assets/screens/selectlanguage.gdxui
  android/assets/screens/selectplayercount.gdxui
  android/assets/screens/selecttrack.gdxui
  android/assets/screens/selectvehicle.gdxui
  core/src/com/agateau/pixelwheels/screens/ConfigScreen.java
  core/src/com/agateau/pixelwheels/screens/CreditsScreen.java
  core/src/com/agateau/pixelwheels/screens/DebugScreen.java
  core/src/com/agateau/pixelwheels/screens/MultiPlayerScreen.java
  core/src/com/agateau/pixelwheels/screens/SelectChampionshipScreen.java
  core/src/com/agateau/pixelwheels/screens/SelectGameModeScreen.java
  core/src/com/agateau/pixelwheels/screens/SelectLanguageScreen.java
  core/src/com/agateau/pixelwheels/screens/SelectPlayerCountScreen.java
  core/src/com/agateau/pixelwheels/screens/SelectTrackScreen.java
  core/src/com/agateau/pixelwheels/screens/SelectVehicleScreen.java
  core/src/com/agateau/pixelwheels/screens/config/GamepadConfigScreen.java
  core/src/com/agateau/pixelwheels/screens/config/KeyboardConfigScreen.java
  core/src/com/agateau/ui/menu/CornerMenuButton.java
  core/src/com/agateau/ui/menu/CornerMenuItem.java
  core/src/com/agateau/ui/menu/GridMenuItem.java
  core/src/com/agateau/ui/menu/Menu.java
  core/src/com/agateau/ui/menu/MenuItemGroup.java
Due: codingstyle, po-update

Fix rare crash when missile explodes before audioRender() has been called
  core/src/com/agateau/pixelwheels/bonus/Missile.java
Due: codingstyle, po-update

Do not change the current item on mouse over
  .changes/unreleased/Removed-20230929-080146.yaml
  core/src/com/agateau/ui/menu/ButtonMenuItem.java
  core/src/com/agateau/ui/menu/GridMenuItem.java
  core/src/com/agateau/ui/menu/Menu.java
  core/src/com/agateau/ui/menu/RangeMenuItem.java
  core/src/com/agateau/ui/menu/SwitchMenuItem.java
  core/src/com/agateau/ui/menu/TabMenuItem.java
Due: codingstyle, po-update

Path conditions:
  codingstyle: any of: \.java$
  po-update: any of: \.(java|gdxui)$
  font-update: any of: \.(po|ttc)$
