Repository agateau/pixelwheels: changes, and which pre-commit hooks are due for each by the changed paths.
All: codingstyle, po-update, font-update

codingstyle:
  name: codingstyle
  entry: tools/apply-codingstyle
  language: script

po-update:
  name: po-update
  language: system
  entry: make po-update
  pass_filenames: false

font-update:
  name: font-update
  language: system
  entry: make font-update
  pass_filenames: false

Fix typo in package name: gameobjet -> gameobject
  core-tests/src/com/agateau/pixelwheels/obstacles/ObstacleCreatorTest.java
  core/src/com/agateau/pixelwheels/Assets.java
  core/src/com/agateau/pixelwheels/GameWorld.java
  core/src/com/agateau/pixelwheels/bonus/BonusSpot.java
  core/src/com/agateau/pixelwheels/bonus/Bullet.java
  core/src/com/agateau/pixelwheels/bonus/Mine.java
  core/src/com/agateau/pixelwheels/bonus/Missile.java
  core/src/com/agateau/pixelwheels/gameobject/AnimationObject.java
  core/src/com/agateau/pixelwheels/gameobject/AudioClipper.java
  core/src/com/agateau/pixelwheels/gameobject/CellFrameBufferManager.java
  core/src/com/agateau/pixelwheels/gameobject/CellFrameBufferUser.java
  core/src/com/agateau/pixelwheels/gameobject/Explosable.java
  core/src/com/agateau/pixelwheels/gameobject/GameObject.java
  core/src/com/agateau/pixelwheels/gameobject/GameObjectAdapter.java
  core/src/com/agateau/pixelwheels/obstacles/Obstacle.java
  core/src/com/agateau/pixelwheels/racer/AudioComponent.java
  core/src/com/agateau/pixelwheels/racer/Racer.java
  core/src/com/agateau/pixelwheels/racer/VehicleRenderer.java
  core/src/com/agateau/pixelwheels/racescreen/GameRenderer.java
  core/src/com/agateau/pixelwheels/racescreen/GameWorldImpl.java
  core/src/com/agateau/pixelwheels/racescreen/Helicopter.java
  core/src/com/agateau/pixelwheels/racescreen/RaceScreen.java
  core/src/com/agateau/pixelwheels/racescreen/debug/DropLocationDebugObject.java
  core/src/com/agateau/pixelwheels/racescreen/debug/MineDropper.java
Due: codingstyle, po-update

Update languages.xml
  android/assets/ui/languages.xml
Due: none

Update credits.gdxui
  android/assets/screens/credits.gdxui
Due: po-update

Create gl.po
  android/assets/po/gl.po
Due: font-update

Fix pixel alignment of wheels
  android/assets/vehicles/old-f1.xml
Due: none

Minor design touches
  core/assets-src/sprites/vehicles/old-f1.ase
Due: none

Add thin tires
  android/assets/vehicles/old-f1.xml
  core/assets-src/sprites/tires/THIN-splash.anim.ase
  core/assets-src/sprites/tires/THIN.still.ase
  core/src/com/agateau/pixelwheels/vehicledef/AxleDef.java
Due: codingstyle, po-update

Define reward for old-f1
  core/src/com/agateau/pixelwheels/RewardManagerSetup.java
Due: codingstyle, po-update

Reduce shadow offset
  core/src/com/agateau/pixelwheels/utils/BodyRegionDrawer.java
Due: codingstyle, po-update

vehicles: improve doc
  docs/vehicles.md
Due: none

Add new vehicle: old F1
  android/assets/vehicles/old-f1.xml
  core/assets-src/sprites/vehicles/old-f1.ase
  core/src/com/agateau/pixelwheels/Assets.java
Due: codingstyle, po-update

Add a dedicated Pause virtual key
  android/assets/po/bn.po
  android/assets/po/de.po
  android/assets/po/eo.po
  android/assets/po/es.po
  android/assets/po/eu.po
  android/assets/po/fr.po
  android/assets/po/hu.po
  android/assets/po/it_IT.po
  android/assets/po/messages.pot
  android/assets/po/nl.po
  android/assets/po/pl.po
  android/assets/po/ru.po
  android/assets/po/sv.po
  android/assets/po/tr.po
  android/assets/po/zh_CN.po
  android/assets/screens/gamepadconfig.gdxui
  core/src/com/agateau/pixelwheels/racer/PlayerPilot.java
  core/src/com/agateau/ui/DefaultKeys.java
  core/src/com/agateau/ui/GamepadInputMapper.java
  core/src/com/agateau/ui/KeyMapper.java
  core/src/com/agateau/ui/VirtualKey.java
Due: codingstyle, po-update, font-update

UiBuilder: make it possible to register custom MenuItemFactory
  core/src/com/agateau/ui/uibuilder/UiBuilder.java
Due: codingstyle, po-update

gamepad config: use a layout similar to P2 keyboard config
  android/assets/po/bn.po
  android/assets/po/de.po
  android/assets/po/eo.po
  android/assets/po/es.po
  android/assets/po/eu.po
  android/assets/po/fr.po
  android/assets/po/hu.po
  android/assets/po/it_IT.po
  android/assets/po/messages.pot
  android/assets/po/nl.po
  android/assets/po/pl.po
  android/assets/po/ru.po
  android/assets/po/sv.po
  android/assets/po/tr.po
  android/assets/po/zh_CN.po
  android/assets/screens/gamepadconfig.gdxui
  core/src/com/agateau/pixelwheels/screens/config/GamepadConfigScreen.java
  tools/gettext/its/gdxui.its
Due: codingstyle, po-update, font-update

Menu: make addItemWithLabelActor() return the created MenuItem
  core/src/com/agateau/ui/menu/Menu.java
Due: codingstyle, po-update

Menu: make it possible to set the label style when calling addItemWithLabel
  core/src/com/agateau/ui/menu/Menu.java
  core/src/com/agateau/ui/menu/MenuItemGroup.java
Due: codingstyle, po-update

Allow braking using the gamepad Back button
  android/assets/screens/gamepadconfig.gdxui
  core/src/com/agateau/pixelwheels/gameinput/InputMapperInputHandler.java
Due: codingstyle, po-update

ui: reduce button height a bit
  core/assets-src/ui/icon-back.still.ase
  core/assets-src/ui/icon-config.still.ase
  core/assets-src/ui/icon-debug.still.ase
  core/assets-src/ui/icon-left.still.ase
  core/assets-src/ui/icon-next.still.ase
  core/assets-src/ui/icon-restart.still.ase
  core/assets-src/ui/icon-right.still.ase
  core/assets-src/ui/rectbutton-disabled.9.still.ase
  core/assets-src/ui/rectbutton-down.9.still.ase
  core/assets-src/ui/rectbutton.9.still.ase
Due: none

gdxui doc: fix typo
  docs/gdxui.md
Due: none

gamepad & keyboard config: Add a title to the columns
  android/assets/screens/gamepadconfig.gdxui
  android/assets/screens/keyboardconfig.gdxui
  android/assets/ui/uiskin.gdxjson
  core/src/com/agateau/pixelwheels/screens/config/ConfigUiUtils.java
  core/src/com/agateau/pixelwheels/screens/config/GamepadConfigScreen.java
  core/src/com/agateau/pixelwheels/screens/config/KeyboardConfigScreen.java
Due: codingstyle, po-update

Update messages
  android/assets/po/bn.po
  android/assets/po/de.po
  android/assets/po/eo.po
  android/assets/po/es.po
  android/assets/po/eu.po
  android/assets/po/fr.po
  android/assets/po/hu.po
  android/assets/po/it_IT.po
  android/assets/po/messages.pot
  android/assets/po/nl.po
  android/assets/po/pl.po
  android/assets/po/ru.po
  android/assets/po/sv.po
  android/assets/po/tr.po
  android/assets/po/zh_CN.po
Due: font-update

Add changelog entry
  .changes/unreleased/Fixed-20230722-201350.yaml
Due: none

po-update: do not update po files if only line numbers changed
  tools/po-update
Due: none

Redesign and set a less generic name: BRGP42
  android/assets/vehicles/old-f1.xml
  core/assets-src/sprites/vehicles/old-f1.ase
Due: none

Add changelog entry
  .changes/unreleased/Added-20230723-223347.yaml
Due: none

MultiPlayerScreen: fix crash when clicking on locked vehicle
  core/src/com/agateau/pixelwheels/screens/MultiPlayerScreen.java
  core/src/com/agateau/ui/menu/GridMenuItem.java
Due: codingstyle, po-update

snow3: fix obscuring areas
  .changes/unreleased/Fixed-20230724-223013.yaml
  android/assets/maps/snow3.tmx
Due: none

Document internal tools
  docs/map-format.md
Due: none

snow3: fix 6th starting place being reported as 5th
  android/assets/maps/snow3.tmx
Due: none

Snap angles
  core-tests/src/com/agateau/utils/tests/AgcMathUtilsTests.java
  core/src/com/agateau/pixelwheels/racer/VehicleRenderer.java
  core/src/com/agateau/utils/AgcMathUtils.java
Due: codingstyle, po-update

Fix obstacle shadows not being drawn at the correct angle
  core/src/com/agateau/pixelwheels/obstacles/Obstacle.java
Due: codingstyle, po-update

be: fix buildings showing under vehicles
  .changes/unreleased/Fixed-20230726-231254.yaml
  android/assets/maps/be.tmx
Due: none

Fix missiles showing over walls
  .changes/unreleased/Fixed-20230726-110733.yaml
  core/src/com/agateau/pixelwheels/ZLevel.java
  core/src/com/agateau/pixelwheels/bonus/Missile.java
  core/src/com/agateau/pixelwheels/racer/VehicleRenderer.java
  core/src/com/agateau/pixelwheels/racescreen/GameRenderer.java
  core/src/com/agateau/pixelwheels/racescreen/Helicopter.java
  core/src/com/agateau/pixelwheels/racescreen/debug/DropLocationDebugObject.java
Due: codingstyle, po-update

Draw helicopter shadows on top of fgX layers
  core/src/com/agateau/pixelwheels/racescreen/GameRenderer.java
  core/src/com/agateau/pixelwheels/racescreen/Helicopter.java
Due: codingstyle, po-update

Merge VEHICLES, SHADOWS and OBSTACLES ZLevel into ON_GROUND
  core/src/com/agateau/pixelwheels/ZLevel.java
  core/src/com/agateau/pixelwheels/bonus/BonusSpot.java
  core/src/com/agateau/pixelwheels/bonus/Mine.java
  core/src/com/agateau/pixelwheels/gameobject/AnimationObject.java
  core/src/com/agateau/pixelwheels/obstacles/Obstacle.java
  core/src/com/agateau/pixelwheels/racer/VehicleRenderer.java
Due: codingstyle, po-update

Document how to use the free camera
  core/src/com/agateau/pixelwheels/screens/DebugScreen.java
Due: codingstyle, po-update

android: "Some gamepads" -> "Some controllers"
  android/assets/po/bn.po
  android/assets/po/de.po
  android/assets/po/eo.po
  android/assets/po/es.po
  android/assets/po/eu.po
  android/assets/po/fr.po
  android/assets/po/hu.po
  android/assets/po/it_IT.po
  android/assets/po/messages.pot
  android/assets/po/nl.po
  android/assets/po/pl.po
  android/assets/po/ru.po
  android/assets/po/sv.po
  android/assets/po/tr.po
  android/assets/po/zh_CN.po
  android/assets/screens/notenoughgamepads.gdxui
Due: po-update, font-update

android: improve support for Bluetooth keyboards
  android/AndroidManifest.xml
Due: none

Path conditions:
  codingstyle: any of: \.java$
  po-update: any of: \.(java|gdxui)$
  font-update: any of: \.(po|ttc)$
